// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #eff0f4;
  font-family: Helvetica;
  padding: 15px;
}


.container a {
  text-decoration: none;
  color: red;
}

.task a {
  text-decoration: none;
  border: solid 1px gray;
  display: flex;
  width: 300px;
  justify-content: space-around;
  color: white;
  background-color: #606470;
  padding: 10px 14px;
  font-weight: bold;
  font-family: Helvetica;
}

h1 {
  font-family: Helvetica;
  text-align: center;
}
